body {
    background-color: rgb(40, 169, 255) !important;
    min-height: 100vh;
}

.container-card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white;
}

.endscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress {
    background-color: blue !important;
    color: white;
    padding-left: 10px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}